/*Reset CSS*/
.{
    margin: 0%;
    padding: 0%;
    border: none;
    box-sizing: border-box;
}

header{
    background-color: rgb(196, 196, 196); /*Cor do fundo do header*/

    display: flex; /*Um item na frente do outro*/
    justify-content: center; /*alinha no centro na horintal*/
    align-items: center; /*Alinha no centro na vertical*/
    /*flex-direction: relative;*/
    /*gap: 25px;*/
}

.links-header-site li{
    display: inline; /*Deixa um elemento na frente do outro*/
    /*margin-left: 10px;*/
}

.redes-header-site li{
    display: inline; /*Deixa um elemento na frente do outro*/
    display: inline-block; /*Tira a barra de frente da imagem*/
    margin-right: 10px; /*Margin a direita*/
}